* {
    /*reset impostazioni di default*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*#region main*/
.container {
    max-width: 1200px;
    /*larghezza contenitore delle card*/
    margin: 50px auto;
    width: 30%;
    /*spazio da occupare*/
}

.card {
    max-width: 100%;
    /*si adatta sempre alla larghezza del contenitore senza mai superarla*/
    width: 200px;
    position: relative;

    .image {
        display: block;
    }

    .hover_image {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
    }

    .card:hover.hover_image {
        display: block;
    }

    .card:hover.image {
        display: none;
    }

}

/*creiamo una classe badges x definire la posizione*/
.badges {
    position: absolute;
    bottom: 100px;
    display: flex;
    gap: 5px;

    /*badge x definire le altre caratteristiche comuni*/
    .badge {
        font-weight: bold;
        color: white;
        padding: 4px 8px;
        font-size: large;
    }

    /*aggiungiamo solo le differenze*/
    .badge_discount {
        background-color: red;
    }

    .badge_sostenibilità {
        background-color: green;
    }
}

.icon {
    position: absolute;
    background-color: white;
    font-size: x-large;
    padding: 20px 20px;
    top: 20px;
    right: 0;
    transform: translateX(440px);
    /*translateX(...) ➜ sposta in orizzontale, translateY(...) ➜ sposta in verticale*/

}

/*#endregion main*/