* {
    /*reset impostazioni di default*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*#region main*/
.container {
    max-width: 1200px;
    /*larghezza contenitore delle card*/
    margin: 50px auto;
    width: 90%;
    /*spazio da occupare*/
}

.flex_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_top {
    max-width: 100%;
    /*si adatta sempre alla larghezza del contenitore senza mai superarla*/
    width: 300px;
    position: relative;

    .image {
        display: block;
        max-width: 100%;
        position: relative;
    }

    .hover_image {
        position: ;
        display: none;
        width: 100%;
    }

}

/*quando sei in class card_top in hover fai vedere hover_image*/
/*fai attenzione a lasciare lo spazio dopo hover e scrivere fuori dal nesting*/
.card_top:hover .hover_image {
    display: block;
}

/*stesso e nascondi image*/
.card_top:hover .image {
    display: none;
}


/*creiamo una classe badges x definire la posizione*/
.badges {
    position: absolute;
    bottom: 25px;
    display: flex;
    gap: 2px;

    /*badge x definire le altre caratteristiche comuni*/
    .badge {
        font-weight: bold;
        color: white;
        padding: 4px 5px;
        font-size: 12px;
    }

    /*aggiungiamo solo le differenze*/
    .badge_discount {
        background-color: red;
    }

    .badge_sostenibilità {
        background-color: green;
    }
}

.icon {
    position: absolute;
    background-color: white;
    font-size: large;
    padding: 10px 10px;
    top: 10px;
    right: 0;
}

/*#endregion main*/