* {
    /*reset impostazioni di default*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*#region header*/
.header {
    background-color: orangered;
    min-height: 50px;
    margin-bottom: 2rem;
    position: fixed;
    width: 100%;
    /*con fixed perde la sua larghezza, quindi gliela ridiamo*/
    z-index: 100;
    /*per non far sovrapporre le immagini che sono in relative*/
}

.flex_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 10px 0 10px;

    .header_left,
    .header_right {
        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

    }
}

.logo {
    max-width: 100%;
    width: 150px;
    height: auto;

}



/*#endregion header*/
/*#region main*/

.container {
    max-width: 1200px;
    /*larghezza contenitore delle card*/
    margin: 0 auto;
}

.flex_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 5rem;
    /*ci dà spazio dall'header*/
}

.card_top {
    max-width: 100%;
    /*si adatta sempre alla larghezza del contenitore senza mai superarla*/
    width: 300px;
    position: relative;

    .image {
        display: block;
        max-width: 100%;
        position: relative;
    }

    .hover_image {
        position: ;
        display: none;
        width: 100%;
    }

}

/*quando sei in class card_top in hover fai vedere hover_image*/
/*fai attenzione a lasciare lo spazio dopo hover e scrivere fuori dal nesting*/
.card_top:hover .hover_image {
    display: block;
}

/*stesso e nascondi image*/
.card_top:hover .image {
    display: none;
}


/*creiamo una classe badges x definire la posizione*/
.badges {
    position: absolute;
    bottom: 25px;
    display: flex;
    gap: 2px;

    /*badge x definire le altre caratteristiche comuni*/
    .badge {
        font-weight: bold;
        color: white;
        padding: 4px 5px;
        font-size: 12px;
    }

    /*aggiungiamo solo le differenze*/
    .badge_discount {
        background-color: red;
    }

    .badge_sostenibilità {
        background-color: green;
    }
}

.icon {
    position: absolute;
    background-color: white;
    font-size: large;
    padding: 10px 10px;
    top: 10px;
    right: 0;
}

.card_bottom {
    color: black;

    .description {
        text-transform: uppercase;
    }
}

.price {
    .discounted_price {
        color: red;
        font-weight: bold;
    }

    .original_price {
        text-decoration: line-through;
    }
}

/*#endregion main*/

/*#region footer*/
.footer {
    background-color: rgba(0, 0, 0, 0.801);
    min-height: 50px;
    color: white;
    margin-top: 3rem;

}


/*#endregion footer*/